**__pycache__
.vscode
.DS_Store
parameters
parameters/*
parameters/*
datasets/*
results/*
lightning_logs/*
bpe/*
.checkpoints/*
.datasets/*
results/*
zz_ignore./*
embeddings_1.pth
embeddings_2.pth
embeddings_3.pth
embeddings_4.pth
embeddings_5.pth
embeddings_6.pth
embeddings_7.pth
embeddings_8.pth
embeddings_9.pth
embeddings_10.pth
embeddings_11.pth
embeddings_12.pth
short_list.json
topk-clotho.xlsx
embeddings_1_trunks.pth
embeddings_2_trunks.pth
embeddings_3_trunks.pth
embeddings_4_trunks.pth
embeddings_5_trunks.pth
embeddings_6_trunks.pth
embeddings_7_trunks.pth
embeddings_8_trunks.pth
embeddings_9_trunks.pth
embeddings_10_trunks.pth
embeddings_11_trunks.pth
embeddings_12_trunks.pth
shortlist_data.pkl
*.pkl
*.pth
